@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    /* 포지션 위치 기준값 */
    position: relative;
}

#start_img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* 포지션 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
#start_img img {
    width: 60%;
    height: auto;
    /* 포지션 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
}

#baseball_display {
    margin: 0 auto;
    margin-top: 40px;
    width: 210px;
    height: 100px;
}
#baseball_display img {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
}
#baseball_display video {
    display: none;
    width: 100%;
}

#content {
    margin: 0 auto;
    margin-top: 40px;
    width: 210px;
    /* 포지션 위치 기준값 */
    position: relative;
}
#content input {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 60px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    outline: none;
}
#content #judgeBox {
    width: 80px;
    height: auto;
    padding: 12px;
    background-color: #000;
    /* 포지션 */
    position: absolute;
    top: 0;
    left: 105%;
    border: 2px solid rgb(138, 138, 138);
    box-shadow: 3px 3px 3px #000;
}
#content #judgeBox p {
    font-size: 15px;
    margin-bottom: 8px;
}
#content #judgeBox #strike {
    color: rgb(255, 255, 0);
}
#content #judgeBox #ball {
    color: rgb(0, 255, 0);
}
#content #judgeBox #out {
    color: red;
}
#content #judgeBox #record {
    color: rgb(0, 148, 0);
}
#content #keypad {
    width: 100%;
}
#content #keypad div {
    width: 60px;
    height: 60px;
    margin: 5px 5px;
    display: inline-block;
    /* 포지션 위치 기준값 */
    position: relative;
}
#content #keypad div img {
    width: 100%;
    height: 100%;
    /* 포지션 */
    position: absolute;
    left: 0;
    top: 0;
    -webkit-backface-visibility: visible; /* Safari */
    backface-visibility: visible;
    transition: 0.5s;
}
#content #keypad div button {
    width: 100%;
    height: 100%;
    border-radius: 45px;
    background-color: #fff;
    outline: none;
    /* 포지션 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transition: 0.5s;
}



.flip_ball {
    transform: rotateY(180deg);
}