@charset "utf-8";
#content {
    margin-bottom: 200px;
}

/* 2-1. 카테고리 타이틀 영역 */
.category_title {
    margin-top: 48px;
}
.category_title h2 {
    margin-bottom: 24px;
    font-size: 14px;
}
.category_title h3 {
    font-size: 24px;
    font-weight: 700;
    /* 플롯 */
    float: left;
}
.category_title .filter {
    font-size: 14px;
    /* 플롯 */
    float: right;
}
.category_title .filter span {
    display: inline-block;
    margin-right: 16px;
}
.category_title .filter .sort_menu {
    display: inline-block;
    width: 86px;
    /* 포지션 위치 기준값 */
    position: relative;
}
.category_title .filter .sort_menu a p {
    /* 플롯 */
    float: left;
}
.category_title .filter .sort_menu a img {
    margin-top: 6px;
    width: 10px;
    /* 플롯 */
    float: right;
}
.category_title .filter .sort_menu .submenu {
    /* 로딩시 가리기 */
    display: none;
    width: 100%;
    /* 포지션 */
    position: absolute;
    top: 12px;
    left: 0;
}
.category_title .filter .sort_menu .submenu li {
    margin-top: 12px;
}
.category_title .filter .filter_btn {
    display: none;
    /* 플롯 */
    float: right;
}
.category_title .filter .filter_btn a {
    display: block;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #000;
}

/* 2-2. 카테고리 필터 영역 */
.category_filter {
    width: 290px;
    margin-top: 48px;
    font-size: 14px;
    /* 플롯 */
    float: left;
}

/* 2-2-0. 반응형 정렬 메뉴 영역 */
.category_filter .responsive_sort_menu {
    margin-bottom: 40px;
    display: none;
}
.category_filter .responsive_sort_menu h2 {
    margin-bottom: 24px;
    font-weight: 600;
}
.category_filter .responsive_sort_menu ul {
    margin-left: 12px;
}
.category_filter .responsive_sort_menu ul li {
    margin-bottom: 12px;
}
.category_filter .responsive_sort_menu ul li:first-child {
    font-weight: 500;
}
.category_filter .responsive_sort_menu ul li:last-child {
    margin-bottom: 0;
}

/* 2-2-1. 필터 메뉴 영역 */
.category_filter .filter_menu h2 {
    margin-bottom: 24px;
    font-weight: 600;
}
.category_filter .filter_menu ul {
    margin-left: 12px;
}
.category_filter .filter_menu ul li {
    margin-bottom: 12px;
}
.category_filter .filter_menu ul li:first-child {
    font-weight: 500;
}
.category_filter .filter_menu ul li:last-child {
    margin-bottom: 0;
}

/* 필터공통 */
.category_filter .filter_title {
    margin-top: 24px;
    cursor: pointer;
}
.category_filter .filter_title h2 {
    font-weight: 600;
    margin-bottom: 24px;
    /* 플롯 */
    float: left;
}
.category_filter .filter_title img {
    margin-top: 4px;
    width: 10px;
    /* 플롯 */
    float: right;
}

/* 2-2-2. 필터의 필터 영역 */
.category_filter .filter_filter {
    margin-top: 40px;
}
.category_filter .filter_filter .filter_title {
    margin-top: 0;
    cursor: auto;
}
.category_filter .filter_filter .filter_title p {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    /* 플롯 */
    float: right;
}
.category_filter .filter_filter>span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
}
.category_filter .filter_filter .content_box .hide_button {
    display: inline-block;
    width: fit-content;
    font-size: 12px;
    border: 1px solid #000;
    padding: 4px 6px;
    margin-top: 12px;
    margin-right: 8px;
    cursor: pointer;
}

/* 2-2-3. 필터 컬러 영역 */
.category_filter .filter_color {
    border-bottom: 1px solid #000;
}
.category_filter .filter_color .color_circles {
    margin-bottom: 8 px;
}
.category_filter .filter_color .color_circles div {
    margin-right: 24px;
    margin-bottom: 16px;
}
/* 컬러 css */
.circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    cursor: pointer;
}
.black {
    background-color: #000;
}
.blue {
    background-color: #4248e9;
}
.brown {
    background-color: #572c1a;
}
.grey {
    background-color: #7a7a7a;
}
.green {
    background-color: #488032;
}
.navy {
    background-color: #1c2075;
}
.orange {
    background-color: #fc7b0a;
}
.pink {
    background-color: #ffa2a2;
}
.purple {
    background-color: #800080;
}
.red {
    background-color: #ff0000;
}
.white {
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
}
.yellow {
    background-color: #f9f777;
}

/* 2-2-4. 필터 사이즈 영역 */
.category_filter .filter_size {
    border-bottom: 1px solid #000;
}
.category_filter .filter_size .size_boxes {
    margin-bottom: 12px;
}
.category_filter .filter_size .size_boxes .size_box {
    display: inline-block;
    border: 1px solid #000;
    width: 30px;
    height: 20px;
    margin-right: 12px;
    margin-bottom: 12px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

/* 2-2-5. 필터 가격 영역 */
.category_filter .filter_price {
    border-bottom: 1px solid #000;
}
.category_filter .filter_price .price_checkboxes {
    margin-bottom: 24px;
}
.category_filter .filter_price .price_checkboxes form {
    margin-bottom: 12px;
}
.category_filter .filter_price .price_checkboxes form:last-child {
    margin-bottom: 0;
}
.category_filter .filter_price .price_checkboxes form input {
    width: 14px;
    margin-right: 24px;
    cursor: pointer;
}
.category_filter .filter_price .price_checkboxes form label {
    cursor: pointer;
}

/* 2-2-6. 필터 타입 영역 */
.category_filter .filter_type {
    border-bottom: 1px solid #000;
}
.category_filter .filter_type .type_checkboxes {
    margin-bottom: 24px;
}
.category_filter .filter_type .type_checkboxes form {
    margin-bottom: 12px;
}
.category_filter .filter_type .type_checkboxes form:last-child {
    margin-bottom: 0;
}
.category_filter .filter_type .type_checkboxes form input {
    width: 14px;
    margin-right: 24px; 
    cursor: pointer;
}
.category_filter .filter_type .type_checkboxes form label {
    cursor: pointer;
}

/* 2-3. 제품 영역 시작 */
.category_products {
    width: 966px;
    margin-top: 48px;
    font-size: 14px;
    /* 플롯 */
    float: right;
}
.category_products .protuct_content {
    width: 306px;
    margin-left: 16px;
    /* 플롯 */
    float: left;
}
.category_products .protuct_content img {
    width: 100%;
    margin-bottom: 12px;
}
.category_products .protuct_content .circle {
    margin-bottom: 12px;
    margin-right: 8px;
}
.category_products .protuct_content h2 {
    height: 38px;
    font-size: 14px;
    line-height: 1.2;
    word-break: keep-all;
}
.category_products .protuct_content h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}
.category_products .protuct_content:nth-last-child(1) h3,
.category_products .protuct_content:nth-last-child(2) h3,
.category_products .protuct_content:nth-last-child(3) h3 {
    margin-bottom: 0;
}


@media screen and (min-width: 768px) and (max-width: 1280px){
    /* 2-1. 카테고리 타이틀 영역 */
    .category_title {
        width: 94%;
        margin: auto;
        margin-top: 40px;
    }

    /* 2-2. 카테고리 필터 영역 */
    .category_filter {
        width: 290px;
        margin-top: 48px;
        font-size: 14px;
        /* 플롯 */
        float: none;
    }
    /* 2-2-1. 필터 메뉴 영역 */
    .category_filter .filter_menu h2 {
        margin-bottom: 24px;
        font-weight: 600;
    }
    .category_filter .filter_menu ul {
        margin-left: 12px;
    }
    .category_filter .filter_menu ul li {
        margin-bottom: 12px;
    }
    .category_filter .filter_menu ul li:last-child {
        margin-bottom: 0;
    }

    /* 2-3. 제품 영역 시작 */
    .category_products {
        width: 97%;
        margin: 0 auto;
        margin-top: 48px;
        /* 플롯 */
        float: none;
    }
    .category_products .protuct_content {
        width: 30.33333333333333%;
        margin: 0 1.5%;
    }

}