@charset "utf-8";
/*전체*/
html,body {
    background-color: #14181b;
    color: #f3f5f6;
}

/*헤더 영역*/
.header {
    background-color: #14181b;
    border-bottom: 1px solid #f3f5f6;
}
.header label .bars span {
    background-color: #f3f5f6;
}
.button_circle {
    left: 16px;
}

/*왼쪽 GNB*/
.left_gnb {
    border-right: 1px solid #f3f5f6;
    background-color: #14181b;
}

/*아이콘 이미지*/
.day_img {
    display: none !important;
}
.night_img {
    display: block;
}

/*메인페이지 전용*/
#content .about_me .about_me_btn {
    background-color: #f3f5f6;
}
#content .about_me .about_me_btn a {
    color: #14181b;
}
#content .projects .slider_contents .project_content a {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/*프로젝트 페이지 전용*/
#content .projects .project_line .project_box a {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/*프로젝트 상세페이지 전용*/
.project .title a {
    background-color: #f3f5f6;
    color: #14181b;
}
.project .main_img img {
    border: 1px solid rgba(255, 255, 255, 0.3);
}