@charset "utf-8";
/*4-2. 컨택트 방법 영역*/
.contact_method {
    margin-top: 340px;
    padding-bottom: 100px;
}
/*컨택트 내용*/
.contact_method .contact_contents {
    width: 30%;
    /*플롯*/
    float: left;
}
.contact_method .contact_contents .contact_text {
    margin-top: 40%;
}
.contact_method .contact_contents .contact_text h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px;
}
.contact_method .contact_contents .contact_text a {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
    text-decoration: underline;
}
.contact_method .contact_contents .contact_text p {
    font-size: 16px;
    line-height: 1.5;
    word-break: keep-all;
}
/*컨택트 이미지*/
.contact_method .contact_img {
    width: 50%;
    /*플롯*/
    float: right;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}
.contact_method .contact_img img {
    width: 100%;
}


/*반응형 태블릿 영역*/
@media screen and (max-width: 1650px){
    /*컨택트 내용*/
    .contact_method .contact_contents {
        width: 40%;
    }
    .contact_method .contact_contents .contact_text {
        margin-top: 40%;
    }
    .contact_method .contact_contents .contact_text:first-child{
        margin-top: 10%;
    }
    .contact_method .contact_contents .contact_text h2 {
        font-size: 24px;
    }
    .contact_method .contact_contents .contact_text a {
        font-size: 18px;
    }
    .contact_method .contact_contents .contact_text p {
        font-size: 16px;
    }
}

/*반응형 태블릿 두번째 영역*/
@media screen and (min-width: 749px) and (max-width: 1060px){
    /*4-2. 컨택트 방법 영역*/
    .contact_method {
        width: 86%;
        margin: 0 auto;
        margin-top: 200px;
        padding-bottom: 160px;
    }
    
    /*컨택트 내용*/
    .contact_method .contact_contents {
        width: 48%;
    }
    .contact_method .contact_contents .contact_text {
        margin-top: 23%;
    }
    .contact_method .contact_contents .contact_text:first-child{
        margin-top: 10%;
    }
    .contact_method .contact_contents .contact_text h2 {
        font-size: 20px;
    }
    .contact_method .contact_contents .contact_text a {
        font-size: 16px;
    }
    .contact_method .contact_contents .contact_text p {
        font-size: 14px;
    }
}

/*반응형 모바일 영역*/
@media screen and (max-width: 748px){
    /*4-2. 컨택트 방법 영역*/
    .contact_method {
        width: 86%;
        margin: 0 auto;
        margin-top: 80px;
        padding-bottom: 40px;
    }
    
    /*컨택트 내용*/
    .contact_method .contact_contents {
        width: 100%;
    }
    .contact_method .contact_contents .contact_text {
        margin-top: 23%;
    }
    .contact_method .contact_contents .contact_text:first-child{
        margin-top: 10%;
    }
    .contact_method .contact_contents .contact_text h2 {
        font-size: 20px;
    }
    .contact_method .contact_contents .contact_text a {
        font-size: 16px;
    }
    .contact_method .contact_contents .contact_text p {
        font-size: 14px;
    }
    
    /*컨택트 이미지*/
    .contact_method .contact_img {
        width: 100%;
        margin-top: 40px;
    }
}