@charset "utf-8";
/*4-2. 프로젝트 영역*/
#content .projects {
    margin-top: 280px;
    /*포지션 기준값*/
    position: relative;
}
#content .projects .projects_title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 60px;
    /*플롯*/
    float: left;
}
#content .projects .projects_title .view_all {
    margin-top: 6px;
    /*플롯*/
    float: right;
    cursor: pointer;
}
#content .projects .projects_title .view_all a p {
    /*플롯*/
    float: right;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s;
}
#content .projects .projects_title .view_all a img {
    /*플롯*/
    float: right;
    margin-top: 4px;
    margin-left: 4px;
    transition: all 0.3s;
}
#content .projects .projects_title .view_all a:hover p,
#content .projects .projects_title .view_all a:hover img{
    transform: scale(1.3);
    margin-left: 7px;
}
/*슬라이더 영역*/
#content .projects .slider_contents {
    width: 123%;
    margin-left: -11.4%;
}
#content .projects .slider_contents .project_content {
    width: 100%;
}
#content .projects .slider_contents .project_content a {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.8);
    overflow: hidden;
    outline: none;
}
#content .projects .slider_contents .project_content img {
    width: 100%;
    transition: all 0.5s;
}
#content .projects .slider_contents .project_content img:hover {
    transform: scale(1.1);
}
#content .projects .slider_contents .project_content p {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 500;
}
/*슬릭 CSS*/
.slider .slick-list {
    margin:0 -20px;
}
.slick-slide {
    margin:0 20px;
    position: relative;
}

/*4-3. 어빌리티 영역*/
#content .abilities {
    margin-top: 220px;
    padding-top: 100px;
    /*포지션 위치 기준값*/
    position: relative;
}
#content .abilities>h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 60px;
}
#content .abilities img {
    margin-right: 6.185567010309278%;
    width: 10.30927835051546%;
    filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.8));
    /*플롯*/
    float: left;
}
#content .abilities .skills_box {
    margin-bottom: 60px;
    /*위치기준값*/
    position: relative;
    cursor: pointer;
}
#content .abilities .skills_box:last-child {
    margin-bottom: 0px;
}
#content .abilities .abilities_text {
    /*플롯*/
    float: left;
    margin-top: 1%;
}
#content .abilities:nth-child(3) .abilities_text {
    margin-top: 0.5%;
}
#content .abilities .abilities_text h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}
#content .abilities .abilities_text ul li {
    list-style: disc;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
}
/*비디오 CSS*/
#content .abilities .skills_box video {
    width: 40%;
    /*포지션*/
    position: absolute;
    top: -100%;
    right: 0;
    transition: all 0.5s;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
}

/*4-4. 어바웃미 영역*/
#content .about_me {
    margin-top: 320px;
}
#content .about_me h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 60px;
}
#content .about_me .about_me_btn {
    margin-top: 40px;
    /*플롯*/
    float: right;
    cursor: pointer;
}
#content .about_me p {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.7;
}
#content .about_me .about_me_btn a {
    display: block;
    padding: 12px;
    font-size: 20px;
    font-weight: 400;
}
#content .about_me .about_me_btn:hover {
    background-color: #f47e27;
}
#content .about_me .about_me_btn:hover a {
    color: #f3f5f6;
}
#content .about_me .about_me_btn p {
    text-align: center;
    font-size: 18px;
    padding: 5px;
}


/*반응형 태블릿 첫번째 영역*/
@media screen and (min-width: 1061px) and (max-width: 1310px){
    /*비디오 CSS*/
    #content .abilities .skills_box video {
        width: 32%;
        top: -100%;
        right: -5%;
    }
    #content .abilities .skills_box:nth-child(2):hover video {
        top: 0;
    }
    #content .abilities .skills_box:nth-child(3):hover video {
        top: 0;
    }
    #content .abilities .skills_box:nth-child(4):hover video {
        top: 0;
    }
}



/*반응형 태블릿 두번째 영역*/
@media screen and (min-width: 749px) and (max-width: 1060px){
    /*4-2. 프로젝트 영역*/
    #content .projects {
        padding: 0 16px;
        margin-top: 160px;
    }
    #content .projects .projects_title h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }
    #content .projects .projects_title .view_all {
        margin-top: 8px;
    }
    #content .projects .projects_title .view_all a p {
        font-size: 16px;
    }
    #content .projects .projects_title .view_all a img {
        margin-top: 2px;
    }
    
    /*4-3. 어빌리티 영역*/
    #content .abilities {
        padding: 0 16px;
        margin-top: 210px;
        padding-top: 0;
    }
    #content .abilities>h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }
    #content .abilities .skills_box {
        margin-bottom: 40px;
    }
    #content .abilities .abilities_text h3 {
        font-size: 20px;
        margin-bottom: 24px;
    }
    #content .abilities .abilities_text ul li {
        font-size: 16px;
    }
    /*비디오 CSS*/
    #content .abilities .skills_box video {
        width: 30%;
    }
    #content .abilities .skills_box:nth-child(2):hover video {
        top: -20%;
    }
    #content .abilities .skills_box:nth-child(3):hover video {
        top: -10%;
    }
    #content .abilities .skills_box:nth-child(4):hover video {
        top: -20%;
    }
    
    /*4-4. 어바웃미 영역*/
    #content .about_me {
        padding: 0 16px;
        margin-top: 160px;
    }
    #content .about_me h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }
    #content .about_me .about_me_btn {
        margin-top: 24px;
    }
    #content .about_me p {
        font-size: 16px;
    }
    #content .about_me .about_me_btn a {
        padding: 10px;
        font-size: 16px;
    }
}



/*반응형 모바일 영역*/
@media screen and (max-width: 748px){
    /*4-2. 프로젝트 영역*/
    #content .projects {
        padding: 0 16px;
        margin-top: 160px;
    }
    #content .projects .projects_title h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }
    #content .projects .projects_title .view_all {
        margin-top: 8px;
    }
    #content .projects .projects_title .view_all a p {
        font-size: 16px;
    }
    #content .projects .projects_title .view_all a img {
        margin-top: 2px;
    }
    /*슬라이더 영역*/
    #content .projects .slider_contents .project_content p {
        font-size: 16px;
    }
    /*슬릭 CSS*/
    .slider .slick-list {
        margin:0 -10px;
    }
    .slick-slide {
        margin:0 10px;
    }
    .slick-prev
    {
        left: 16%;
    }
    .slick-next
    {
        right: 17%;
    }
    .slick-prev:before,
    .slick-next:before
    {
        font-size: 24px;
    }
    
    /*4-3. 어빌리티 영역*/
    #content .abilities {
        padding: 0 16px;
        margin-top: 210px;
        padding-top: 0;
    }
    #content .abilities>h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }
    #content .abilities img {
        width: 19.30927835051546%;
    }
    #content .abilities .skills_box {
        margin-bottom: 40px;
    }
    #content .abilities .abilities_text {
        width: 100%;
    }
    #content .abilities .abilities_text h3 {
        font-size: 20px;
        margin-bottom: 24px;
        margin-top: 24px;
    }
    #content .abilities .abilities_text ul li {
        font-size: 16px;
    }
    /*비디오 CSS*/
    #content .abilities .skills_box video {
        display: none;
    }
    
    /*4-4. 어바웃미 영역*/
    #content .about_me {
        padding: 0 16px;
        margin-top: 160px;
    }
    #content .about_me h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }
    #content .about_me .about_me_btn {
        margin-top: 24px;
    }
    #content .about_me p {
        font-size: 16px;
    }
    #content .about_me .about_me_btn a {
        padding: 10px;
        font-size: 16px;
    }
}















